code/trunk/000_UtilityServices/FileToFTPMoveUtilitySerivce/WSDLs/moveFilesToRemote.wsdl

<wsdl:definitions name="moveFilesToRemote"
                  targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/SOAUtilityServices/FileToFTPMoveUtilitySerivce/moveFilesToRemote"
                  xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/SOAUtilityServices/FileToFTPMoveUtilitySerivce/moveFilesToRemote"
                  xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
                  xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <plt:partnerLinkType name="FTPMove_plt">
        <plt:role name="SynchRead_role">
            <plt:portType name="tns:FTPMove_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="opaqueElement" type="base64Binary"/>
            <element name="empty">
                <complexType/>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="opaque:empty"/>
    </wsdl:message>
    <wsdl:message name="FTPMove_msg">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:portType name="FTPMove_ptt">
        <wsdl:operation name="FTPMove">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:FTPMove_msg"/>
        </wsdl:operation>
      <wsdl:operation name="FTPCopy">
         <wsdl:input message="tns:Empty_msg"/>
         <wsdl:output message="tns:FTPMove_msg"/>
      </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>


