code/tags/036_TPO_Oracle_SFDC/CreateUpdateCustomerOracleProv/Schemas/CreateUpdateCustSiteCustomer_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CreateUpdateCustSiteCustomer" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CreateUpdateCustSiteCustomer" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxspwrSforaCustSitesCollection" type="XxspwrSforaCustSitesCollection"/>
   <xs:complexType name="XxspwrSforaCustSitesCollection">
      <xs:sequence>
         <xs:element name="XxspwrSforaCustSites" type="XxspwrSforaCustSites" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxspwrSforaCustSites">
      <xs:sequence>
         <xs:element name="tempCustSiteId" type="xs:decimal"/>
         <xs:element name="tempCustId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="custAcctSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="address1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="address2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="address3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="address4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="city" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="postalCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="state" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="province" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="county" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="country" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="status" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="siteUsage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="primaryFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="warehouseCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="primarySalesrep" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orderType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="priceListName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="location" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="operatingUnit" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="siteUsageStatus" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute16" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute17" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute18" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute19" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute20" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="processFlag" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="errorMessage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sfdcBilltoSiteId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="300"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sfdcShiptoSiteId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="300"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sfdcSynced" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="modeType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="accountNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="soaS2OId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="soaO2SId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="active" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="dataSource" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="soaErrorMessage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="customerOrderLinkId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="salesType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="countryCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sfdcAccountId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>