code/trunk/026_EDI/214n861/GetEDI214n861ProcessProv/SCA-INF/classes/GetEDI214n861ProcessProv_BPEL.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="GetEDI214n861ProcessProv_BPEL" targetNamespace="http://xmlns.oracle.com/EDICom/GetEDI214n861ProcessProv/GetEDI214n861ProcessProv_BPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/EDICom/GetEDI214n861ProcessProv/GetEDI214n861ProcessProv_BPEL" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://xmlns.oracle.com/EDICom/GetEDI214n861ProcessProv/GetEDI214n861ProcessProv_BPEL" schemaLocation="xsd/GetEDI214n861ProcessProv_BPEL.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="GetEDI214n861ProcessProv_BPELRequestMessage">
      <wsdl:part name="payload" element="client:process"/>
   </wsdl:message>
   <wsdl:message name="GetEDI214n861ProcessProv_BPELResponseMessage">
      <wsdl:part name="payload" element="client:processResponse"/>
   </wsdl:message>
   <wsdl:portType name="GetEDI214n861ProcessProv_BPEL">
      <wsdl:operation name="process">
         <wsdl:input message="client:GetEDI214n861ProcessProv_BPELRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="GetEDI214n861ProcessProv_BPELCallback">
      <wsdl:operation name="processResponse">
         <wsdl:input message="client:GetEDI214n861ProcessProv_BPELResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <plnk:partnerLinkType name="GetEDI214n861ProcessProv_BPEL">
      <plnk:role name="GetEDI214n861ProcessProv_BPELProvider">
         <plnk:portType name="client:GetEDI214n861ProcessProv_BPEL"/>
      </plnk:role>
      <plnk:role name="GetEDI214n861ProcessProv_BPELRequester">
         <plnk:portType name="client:GetEDI214n861ProcessProv_BPELCallback"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
