code/trunk/000_UtilityServices/SFDCLookUpUtilityService/Schemas/SFDCLookUpUtilityService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/TPOSOACustomerSync/SFDCLookUpUtilityService/SFDCLookUpUtilityService"
        xmlns="http://www.w3.org/2001/XMLSchema">
 <element name="process">
  <complexType>
   <sequence>
    <element name="selectAttribute" type="string"/>
    <element name="objectName" type="string"/>
    <element name="whereColumn" type="string"/>
    <element name="whereColumnValue" type="string"/>
   </sequence>
  </complexType>
 </element>
 <element name="processResponse">
  <complexType>
   <sequence>
    <element name="result" type="string"/>
   </sequence>
  </complexType>
 </element>
</schema>