code/trunk/008_SOA_PDF_Meta_Sync/SOAPDFMETASyncProv/SOA/SOAPDFMETASyncProv_BPEL.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="SOAPDFMETASyncProv_BPEL" targetNamespace="http://www.sunpowercorp.com/PDFFTPSalesforceT0042/SOAPDFMETASyncProv/SOAPDFMETASyncProv_BPEL" xmlns:ns2="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:ns1="http://www.sunpowercorp.com/BOD/ProcessPDFFTPSalesForce/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns4="http://www.sunpowercorp.com/MergedSFDC" xmlns:ns3="http://schemas.oracle.com/bpel/extension" xmlns:client="http://www.sunpowercorp.com/PDFFTPSalesforceT0042/SOAPDFMETASyncProv/SOAPDFMETASyncProv_BPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns5="http://www.sunpowercorp.com/MergedOracleSFDC" xmlns:ns6="http://www.sunpowercorp.com/MergedAttachmentSFDC" xmlns:ns7="http://www.sunpowercorp.com/MergedOracleAttachmentSFDC" xmlns:ns8="http://www.pdf_meta_sync_params.org">
   <plnk:partnerLinkType name="SOAPDFMETASyncProv_BPEL">
      <plnk:role name="SOAPDFMETASyncProv_BPELProvider">
         <plnk:portType name="client:SOAPDFMETASyncProv_BPEL"/>
      </plnk:role>
      <plnk:role name="SOAPDFMETASyncProv_BPELRequester">
         <plnk:portType name="client:SOAPDFMETASyncProv_BPELCallback"/>
      </plnk:role>
   </plnk:partnerLinkType>
   <wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://www.sunpowercorp.com/PDFFTPSalesforceT0042/SOAPDFMETASyncProv/SOAPDFMETASyncProv_BPEL" schemaLocation="Schemas/SOAPDFMETASyncProv_BPEL.xsd"/>
      </schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.sunpowercorp.com/BOD/ProcessPDFFTPSalesForce/V1" schemaLocation="Schemas/CDM/BOD/Nouns/PDFFTPSalesForce/V1/ProcessPDFFTPSalesForce.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="Schemas/wsaaddress.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.sunpowercorp.com/MergedSFDC" schemaLocation="Schemas/MergedSFDCSchema.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.sunpowercorp.com/MergedOracleSFDC" schemaLocation="Schemas/MergedOracleSFDCSchema.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.pdf_meta_sync_params.org" schemaLocation="Schemas/params.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.sunpowercorp.com/MergedOracleAttachmentSFDC" schemaLocation="Schemas/MergedOracleAttachments.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.sunpowercorp.com/MergedAttachmentSFDC" schemaLocation="Schemas/MergedAttachmentSFDC.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="SOAPDFMETASyncProv_BPELResponseMessage">
      <wsdl:part name="payload" element="client:processResponse"/>
   </wsdl:message>
   <wsdl:message name="SOAPDFMETASyncProv_BPELRequestMessage">
      <wsdl:part name="payload" element="ns1:ProcessPDFFTPSalesForce"/>
   </wsdl:message>
   <wsdl:portType name="SOAPDFMETASyncProv_BPELCallback">
      <wsdl:operation name="processResponse">
         <wsdl:input message="client:SOAPDFMETASyncProv_BPELResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="SOAPDFMETASyncProv_BPEL">
      <wsdl:operation name="process">
         <wsdl:input message="client:SOAPDFMETASyncProv_BPELRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
