code/trunk/023_MDTF_ACB_Claims/ACBGetAllClaimsmergeReq/Schemas/inputParams.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.sunpowercorp.com/SunPowerDevelopment/initParams/xsd/v1"
            targetNamespace="http://www.sunpowercorp.com/SunPowerDevelopment/initParams/xsd/v1"
            elementFormDefault="qualified">
  <xsd:element name="InitParams">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="startIndex" type="xsd:integer"/>
        <xsd:element name="endIndex" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
