code/trunk/055_Italy_PWC_EInvoice/OracleToPWCEInvoice/SOA/WADLs/PWCRestLogin.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PWCRestLogin">RestReference</doc>
   <resources>
      <resource path="/login">
         <method name="POST" soa:name="Login">
            <request>
               <param name="username" style="query" type="xsd:string" default="StefVinc"/>
               <param name="password" style="query" type="xsd:string" default="pswtemp2018"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
   </resources>
</application>
