code/trunk/037_CRD_Oracle_SFDC/SyncOEOrdersOracleReq/SOA/Schemas/pollOracleOrderHeadres_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/pollOracleOrderHeadres" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/pollOracleOrderHeadres" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxspwrOmHeaderSyncCollection" type="XxspwrOmHeaderSyncCollection"/>
   <xs:complexType name="XxspwrOmHeaderSyncCollection">
      <xs:sequence>
         <xs:element name="XxspwrOmHeaderSync" type="XxspwrOmHeaderSync" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxspwrOmHeaderSync">
      <xs:sequence>
         <xs:element name="sfdcId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="18"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="operatingUnit" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="headerId" type="xs:decimal" nillable="true"/>
         <xs:element name="orderNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="oracleRequestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sfdcRequestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sfdcRequestStatus" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="emailId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="oracleUserId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="custAcctNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="creditLimit" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transactionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dueDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="amount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="amountOpen" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="paymentScheduleId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="balance" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="locationNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="trasactionType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="qadCustomerNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="customerName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="360"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="region" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceReference" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="siteStatus" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poSubmitDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="shipFromOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="billToSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="addressLine1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addressLine2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addressLine3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="city" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="state" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="country" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="postalCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="contactPhone1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="contactPhone2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="contactPersonName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="contactEmail" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="contactFax" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="shipToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shippingMethod" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="specialInstructions" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="shippingInstructions" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="packingInstructions" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="requestedDeliveryDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="adjustedAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="smartpackFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orderStatus" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdatedBy" type="xs:long" minOccurs="0"/>
         <xs:element name="orderCreationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="createdBy" type="xs:long" minOccurs="0"/>
         <xs:element name="orderType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="leaseValue" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vendorNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorSiteCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="partnerName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="400"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="leaseFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="leaseNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="300"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="financier" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="partnerAccNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="processFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="processMessage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="soaFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="soaErrormsg" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orderRecordType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="systemSize" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="billAddressLine1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="billAddressLine2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="billAddressLine3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="billCity" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="billState" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="billCountry" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="billPostalCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="customerPromiseDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCounty" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="billToCounty" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="holdStatus" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="500"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="creditCheckPaymentDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="okToShipFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="cancelFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="minScheduleShipDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="minScheduleArrivalDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="partnerConfirmDueDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="currencyCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="inboundProcessFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>