code/trunk/000_UtilityServices/CommonLoggingService/WSDLs/CommonLoggingService_BPEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CommonLoggingService_BPEL"
             targetNamespace="http://www.sunpowercorp.com/SOAUtilityServices/CommonLoggingService/CommonLoggingService_BPEL"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:client="http://www.sunpowercorp.com/SOAUtilityServices/CommonLoggingService/CommonLoggingService_BPEL"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->   
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.sunpowercorp.com/SOAUtilityServices/CommonLoggingService/CommonLoggingService_BPEL"
           schemaLocation="../Schemas/CommonLoggingService_BPEL.xsd" />
		</schema>
	</wsdl:types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->      
	<wsdl:message name="CommonLoggingService_BPELRequestMessage">
		<wsdl:part name="payload" element="client:Process"/>
	</wsdl:message>
 <wsdl:message name="CommonLoggingService_BPELResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the CommonLoggingService_BPEL BPEL process -->
	<wsdl:portType name="CommonLoggingService_BPEL">
		<wsdl:operation name="process">
			<wsdl:input message="client:CommonLoggingService_BPELRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>
        
          <wsdl:portType name="CommonLoggingService_BPELCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:CommonLoggingService_BPELResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

	<!-- portType implemented by the requester of CommonLoggingService_BPEL BPEL process
	for asynchronous callback purposes -->
	
	

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	the CommonLoggingService_BPEL partnerLinkType binds the provider and
	requester portType into an asynchronous conversation.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="CommonLoggingService_BPEL">
		<plnk:role name="CommonLoggingService_BPELProvider">
			<plnk:portType name="client:CommonLoggingService_BPEL"/>
		</plnk:role>
		<plnk:role name="CommonLoggingService_BPELRequester">
			<plnk:portType name="client:CommonLoggingService_BPELCallback"/>
		</plnk:role> 
	</plnk:partnerLinkType>
</wsdl:definitions>
