code/trunk/500_jenkins_Test/TempSOA/xsd/CDM/Common/V1/VerbCommonType.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.sunpowercorp.com/order/Verb/VerbCommonTypes/V1"
            xmlns:vct="http://www.sunpowercorp.com/order/Verb/VerbCommonTypes/V1"
            targetNamespace="http://www.sunpowercorp.com/order/Verb/VerbCommonTypes/V1"
            xmlns:cdt="http://www.sunpowercorp.com/Common/CommonDataTypes/V1"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xsd:import namespace="http://www.sunpowercorp.com/Common/CommonDataTypes/V1"
               schemaLocation="CommonDataTypes.xsd"/>
   <xsd:complexType name="BusinessObjectDocumentType">
      <xsd:sequence>
         <xsd:element ref="vct:ApplicationArea"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ApplicationArea" type="vct:ApplicationAreaType"/>
   <xsd:complexType name="ApplicationAreaType">
      <xsd:sequence>
         <xsd:element name="CreationDateTime" minOccurs="0"
                      type="cdt:DateTime"/>
         <xsd:element name="ACTION" type="cdt:String" minOccurs="0"/>
         <xsd:element name="Return_Status" type="cdt:String" minOccurs="0"/>
         <xsd:element name="Error_Code" type="cdt:String" minOccurs="0"/>
         <xsd:element name="Error_Message" type="cdt:String" minOccurs="0"/>
         <xsd:element name="Source" minOccurs="0" type="cdt:String"/>
         <xsd:element name="Operation" minOccurs="0" type="cdt:String"/>
         <xsd:element name="CorrelationID" minOccurs="0" type="cdt:String"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ORDER_LINE_TYPE">
      <xsd:sequence>
         <xsd:element name="CRM_ID" type="cdt:string18" minOccurs="0"/>
         <xsd:element name="ORDER_LINE_TYPE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="PRODUCT_TYPE" type="cdt:string150" minOccurs="0"/>
         <xsd:element name="WATTAGE_TYPE" type="cdt:string150" minOccurs="0"/>
         <xsd:element name="ITEM_TYPE" type="cdt:string200" minOccurs="0"/>
         <xsd:element name="CRM_ORDER_LINE_ID" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="VENDOR_NUMBER" type="cdt:string200" minOccurs="0"/>
         <xsd:element name="VENDOR_SITE_CODE" type="cdt:string200"
                      minOccurs="0"/>
         <xsd:element name="ACCOUNTING_RULE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="PARTY_TYPE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="ACTUAL_ARRIVAL_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="ACTUAL_SHIPMENT_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="AGREEMENT_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ARRIVAL_SET_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ATO_LINE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE1" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE10" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE11" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE12" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE13" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE14" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE15" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE16" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE17" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE18" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE19" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE2" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE20" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE3" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE4" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE5" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE6" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE7" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE8" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE9" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="AUTHORIZED_TO_SHIP_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="AUTO_SELECTED_QUANTITY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="BOOKED_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="CANCELLED_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="CANCELLED_QUANTITY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CANCELLED_QUANTITY2" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="COMMITMENT_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="COMPONENT_CODE" type="cdt:string1000"
                      minOccurs="0"/>
         <xsd:element name="COMPONENT_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="COMPONENT_SEQUENCE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CONFIG_HEADER_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="CONFIG_REV_NBR" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="CONFIG_DISPLAY_SEQUENCE" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CONFIGURATION_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="CONTEXT" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="CREATED_BY" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="CREATION_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="CREDIT_INVOICE_LINE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_DOCK_CODE" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_JOB" type="cdt:string50" minOccurs="0"/>
         <xsd:element name="CUSTOMER_PRODUCTION_LINE" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_TRX_LINE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CUST_MODEL_SERIAL_NUMBER" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="CUST_PO_NUMBER" type="cdt:string50" minOccurs="0"/>
         <xsd:element name="CUST_PRODUCTION_SEQ_NUM" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="DELIVERY_LEAD_TIME" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_ORG_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DEMAND_BUCKET_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="DEMAND_CLASS_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="DEP_PLAN_REQUIRED_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="EARLIEST_ACCEPTABLE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="END_ITEM_UNIT_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="EXPLOSION_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="FOB_POINT_CODE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="FREIGHT_CARRIER_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="FREIGHT_TERMS_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="FULFILLED_QUANTITY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="FULFILLED_QUANTITY2" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE1" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE10" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE11" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE12" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE13" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE14" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE15" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE16" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE17" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE18" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE19" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE2" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE20" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE3" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE4" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE5" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE6" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE7" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE8" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE9" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE_CATEGORY" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="HEADER_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE1" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE10" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE11" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE12" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE13" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE14" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE15" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE16" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE17" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE18" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE19" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE20" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE21" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE22" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE23" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE24" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE25" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE26" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE27" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE28" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE29" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE30" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE2" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE3" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE4" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE5" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE6" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE7" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE8" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_ATTRIBUTE9" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="INDUSTRY_CONTEXT" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="TP_CONTEXT" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE1" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE2" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE3" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE4" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE5" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE6" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE7" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE8" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE9" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE10" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE11" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE12" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE13" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE14" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE15" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="INTERMED_SHIP_TO_ORG_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INTERMED_SHIP_TO_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVENTORY_ITEM_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_INTERFACE_STATUS_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_ORG_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICING_RULE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ORDERED_ITEM" type="cdt:string2000" minOccurs="0"/>
         <xsd:element name="ITEM_REVISION" type="cdt:string3" minOccurs="0"/>
         <xsd:element name="ITEM_TYPE_CODE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="LAST_UPDATED_BY" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="LAST_UPDATE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="LAST_UPDATE_LOGIN" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="LATEST_ACCEPTABLE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="LINE_CATEGORY_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="LINE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="LINE_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="LINE_TYPE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="LINK_TO_LINE_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="LINK_TO_LINE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="LINK_TO_LINE_INDEX" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="MODEL_GROUP_NUMBER" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="MFG_COMPONENT_SEQUENCE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="MFG_LEAD_TIME" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="OPEN_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="OPTION_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="OPTION_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ORDERED_QUANTITY" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ORDERED_QUANTITY2" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ORDER_QUANTITY_UOM" type="cdt:string3"
                      minOccurs="0"/>
         <xsd:element name="ORDERED_QUANTITY_UOM2" type="cdt:string3"
                      minOccurs="0"/>
         <xsd:element name="ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ORIG_SYS_DOCUMENT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="ORIG_SYS_LINE_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="OVER_SHIP_REASON_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="OVER_SHIP_RESOLVED_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="PAYMENT_TERM_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="PLANNING_PRIORITY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="PREFERRED_GRADE" type="cdt:string150"
                      minOccurs="0"/>
         <xsd:element name="PRICE_LIST_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="PRICE_REQUEST_CODE" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE1" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE10" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE2" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE3" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE4" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE5" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE6" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE7" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE8" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_ATTRIBUTE9" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_CONTEXT" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="PRICING_QUANTITY" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="PRICING_QUANTITY_UOM" type="cdt:string3"
                      minOccurs="0"/>
         <xsd:element name="PROGRAM_APPLICATION_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="PROGRAM_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="PROGRAM_UPDATE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="PROJECT_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="PROMISE_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="RE_SOURCE_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="REFERENCE_CUSTOMER_TRX_LINE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="REFERENCE_HEADER_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="REFERENCE_LINE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="REFERENCE_TYPE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="REQUEST_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="REQUEST_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="RESERVED_QUANTITY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE1" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE10" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE11" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE12" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE13" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE14" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE15" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE2" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE3" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE4" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE5" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE6" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE7" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE8" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_ATTRIBUTE9" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="RETURN_CONTEXT" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="RETURN_REASON_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="RLA_SCHEDULE_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SALESREP_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SCHEDULE_ARRIVAL_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="SCHEDULE_SHIP_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="SCHEDULE_ACTION_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SCHEDULE_STATUS_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIPMENT_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIPMENT_PRIORITY_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIPPED_QUANTITY" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIPPED_QUANTITY2" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIPPING_INTERFACED_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="SHIPPING_METHOD_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIPPING_QUANTITY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIPPING_QUANTITY2" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIPPING_QUANTITY_UOM" type="cdt:string3"
                      minOccurs="0"/>
         <xsd:element name="SHIPPING_QUANTITY_UOM2" type="cdt:string3"
                      minOccurs="0"/>
         <xsd:element name="SHIP_FROM_ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIP_MODEL_COMPLETE_FLAG" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIP_SET_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="FULFILLMENT_SET_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TOLERANCE_ABOVE" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TOLERANCE_BELOW" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SOLD_TO_ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SOLD_FROM_ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SORT_ORDER" type="cdt:string2000" minOccurs="0"/>
         <xsd:element name="SOURCE_DOCUMENT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOURCE_DOCUMENT_LINE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOURCE_DOCUMENT_TYPE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOURCE_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SPLIT_FROM_LINE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="TASK_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="TAX_CODE" type="cdt:string50" minOccurs="0"/>
         <xsd:element name="TAX_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="TAX_EXEMPT_FLAG" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="TAX_EXEMPT_NUMBER" type="cdt:string80"
                      minOccurs="0"/>
         <xsd:element name="TAX_EXEMPT_REASON_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="TAX_POINT_CODE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="TAX_RATE" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="TAX_VALUE" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="TOP_MODEL_LINE_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="TOP_MODEL_LINE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="TOP_MODEL_LINE_INDEX" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="UNIT_LIST_PRICE" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="UNIT_LIST_PRICE_PER_PQTY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="UNIT_SELLING_PRICE" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="UNIT_SELLING_PRICE_PER_PQTY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="VEH_CUS_ITEM_CUM_KEY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="VISIBLE_DEMAND_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="RETURN_STATUS" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="DB_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="OPERATION" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="FIRST_ACK_CODE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="FIRST_ACK_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="LAST_ACK_CODE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="LAST_ACK_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="CHANGE_REASON" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="CHANGE_COMMENTS" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="ARRIVAL_SET" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="SHIP_SET" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="FULFILLMENT_SET" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="ORDER_SOURCE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ORIG_SYS_SHIPMENT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="CHANGE_SEQUENCE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="CHANGE_REQUEST_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="STATUS_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="DROP_SHIP_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="CUSTOMER_LINE_NUMBER" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_SHIPMENT_NUMBER" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_ITEM_NET_PRICE" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_PAYMENT_TERM_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ORDERED_ITEM_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ITEM_IDENTIFIER_TYPE" type="cdt:string25"
                      minOccurs="0"/>
         <xsd:element name="SHIPPING_INSTRUCTIONS" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="PACKING_INSTRUCTIONS" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="CALCULATE_PRICE_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="INVOICED_QUANTITY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_TXN_REASON_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_TXN_COMMENTS" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_DURATION" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SERVICE_PERIOD" type="cdt:string3" minOccurs="0"/>
         <xsd:element name="SERVICE_START_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_END_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_COTERMINATE_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="UNIT_LIST_PERCENT" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="UNIT_SELLING_PERCENT" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="UNIT_PERCENT_BASE_PRICE" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SERVICE_REFERENCE_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_REFERENCE_LINE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_REFERENCE_SYSTEM_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_REF_ORDER_NUMBER" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_REF_LINE_NUMBER" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_REFERENCE_ORDER" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_REFERENCE_LINE" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_REFERENCE_SYSTEM" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_REF_SHIPMENT_NUMBER" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_REF_OPTION_NUMBER" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SERVICE_LINE_INDEX" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="LINE_SET_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SPLIT_BY" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="SPLIT_ACTION_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIPPABLE_FLAG" type="cdt:string10" minOccurs="0"/>
         <xsd:element name="MODEL_REMNANT_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="FLOW_STATUS_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="FULFILLED_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="FULFILLMENT_METHOD_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="REVENUE_AMOUNT" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="MARKETING_SOURCE_CODE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="FULFILLMENT_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="SEMI_PROCESSED_FLAG" type="cdt:Int" minOccurs="0"/>
         <xsd:element name="UPGRADED_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="LOCK_CONTROL" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SUBINVENTORY" type="cdt:string10" minOccurs="0"/>
         <xsd:element name="SPLIT_FROM_LINE_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SPLIT_FROM_SHIPMENT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_EDI_LOCATION_CODE" type="cdt:string40"
                      minOccurs="0"/>
         <xsd:element name="BILL_TO_EDI_LOCATION_CODE" type="cdt:string40"
                      minOccurs="0"/>
         <xsd:element name="SHIP_FROM_EDI_LOCATION_CODE" type="cdt:string40"
                      minOccurs="0"/>
         <xsd:element name="SHIP_FROM_ADDRESS_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_ADDRESS_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ADDRESS_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_ADDRESS_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ADDRESS_CODE" type="cdt:string40"
                      minOccurs="0"/>
         <xsd:element name="ORIGINAL_INVENTORY_ITEM_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ORIGINAL_ITEM_IDENTIFIER_TYPE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="ORIGINAL_ORDERED_ITEM_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ORIGINAL_ORDERED_ITEM" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="ITEM_SUBSTITUTION_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="LATE_DEMAND_PENALTY_FACTOR" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="OVERRIDE_ATP_DATE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_CUSTOMER_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CUSTOMER_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CUSTOMER_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ACCOUNTING_RULE_DURATION" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="UNIT_COST" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="USER_ITEM_DESCRIPTION" type="cdt:string1000"
                      minOccurs="0"/>
         <xsd:element name="XML_TRANSACTION_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="ITEM_RELATIONSHIP_TYPE" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="BLANKET_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="BLANKET_LINE_NUMBER" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="BLANKET_VERSION_NUMBER" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CSO_RESPONSE_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="FIRM_DEMAND_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="EARLIEST_SHIP_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="TRANSACTION_PHASE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SOURCE_DOCUMENT_VERSION_NUMBER" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="MINISITE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="IB_OWNER" type="cdt:string60" minOccurs="0"/>
         <xsd:element name="IB_INSTALLED_AT_LOCATION" type="cdt:string60"
                      minOccurs="0"/>
         <xsd:element name="IB_CURRENT_LOCATION" type="cdt:string60"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SUPPLIER_SIGNATURE" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="SUPPLIER_SIGNATURE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_SIGNATURE" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_SIGNATURE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_PARTY_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIP_TO_PARTY_SITE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_PARTY_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_PARTY_SITE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_PARTY_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_PARTY_SITE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_PARTY_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_PARTY_SITE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_PARTY_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_PARTY_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_ORG_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_CUSTOMER_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CUSTOMER_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CUSTOMER_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ORG_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_ORG_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_ORG_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="RETROBILL_REQUEST_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ORIGINAL_LIST_PRICE" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="COMMITMENT_APPLIED_AMOUNT" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_PARTY_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_PARTY_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_PARTY_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="ORDER_FIRMED_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="ACTUAL_FULFILLMENT_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="CHANGED_LINES_POCAO" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="CHARGE_PERIODICITY_CODE" type="cdt:string3"
                      minOccurs="0"/>
         <xsd:element name="RESERVED_QUANTITY2" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CONTINGENCY_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="REVREC_EVENT_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="REVREC_EXPIRATION_DAYS" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ACCEPTED_QUANTITY" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ACCEPTED_BY" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="REVREC_COMMENTS" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="REVREC_REFERENCE_DOCUMENT" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="REVREC_SIGNATURE" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="REVREC_SIGNATURE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="REVREC_IMPLICIT_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_CUSTOMER_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_CUSTOMER_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CUSTOMER_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CUSTOMER_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ADDRESS_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_ADDRESS_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_ADDRESS_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_CONTACT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CONTACT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CONTACT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SPLIT_REQUEST_DATE" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="SPLIT_SHIP_FROM" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="SPLIT_SHIP_TO" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="BYPASS_SCH_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="PRE_EXPLODED_FLAG" type="cdt:string1"
                      minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ORDER_HEADER_REC_TYPE">
      <xsd:sequence>
         <xsd:element name="CRM_ID" type="cdt:string100" minOccurs="0"/>
         <xsd:element name="PSR_EMAIL_ID" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ORACLE_USER_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="CUST_ACCT_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="BILL_TO_SITE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIP_TO_SITE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIPPING_METHOD" type="cdt:string80" minOccurs="0"/>
         <xsd:element name="SPECIAL_INSTRUCTIONS" type="cdt:string1000"
                      minOccurs="0"/>
         <xsd:element name="TAX_FLAG" type="cdt:string10" minOccurs="0"/>
         <xsd:element name="ADJUSTED_AMOUNT" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SMARTPACK_FLAG" type="cdt:string10" minOccurs="0"/>
         <xsd:element name="INTERFACE_MESSAGE" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="NEW_ORDER_CLASS" type="cdt:string150"
                      minOccurs="0"/>
         <xsd:element name="INVERTER_TYPE" type="cdt:string150" minOccurs="0"/>
         <xsd:element name="VENDOR_NUMBER" minOccurs="0"/>
         <xsd:element name="VENDOR_SITE_CODE" type="cdt:string200"
                      minOccurs="0"/>
         <xsd:element name="PARTNER_ACC_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="TAX_IDENTIFIER" type="cdt:string20" minOccurs="0"/>
         <xsd:element name="SALES_TYPE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="CUSTOMER_SYNC" type="cdt:string5" minOccurs="0"/>
         <xsd:element name="CUSTOMER_ORDER_LINK_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CRM_SHIP_TO_SITE_ID" type="cdt:string100"
                      minOccurs="0"/>
         <xsd:element name="CRM_BILL_TO_SITE_ID" type="cdt:string100"
                      minOccurs="0"/>
         <xsd:element name="CRM_BILL_TO_ID" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="CRM_SHIP_TO_ID" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="CRM_BILL_TO_CONTACT_ID" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="CRM_SHIP_TO_CONTACT_ID" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="CRM_PARTNER_ID" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="CRM_HOMEOWNER_ID" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="CRM_TPO_ID" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="MODE_TYPE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="CHANNEL_TYPE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="SOA_INSTANCE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SOA_ERROR_MESSAGE" type="cdt:string4000"
                      minOccurs="0"/>
         <xsd:element name="BILL_TO_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DATA_SOURCE" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ACCOUNTING_RULE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="PARTY_TYPE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="ORDER_TYPE_NAME" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="WAREHOUSE_ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="FINANCIER" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="AGREEMENT_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE1" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE10" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE11" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE12" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE13" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE14" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE15" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE16" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE17" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE18" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE19" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE2" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE20" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE3" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE4" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE5" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE6" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE7" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE8" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="ATTRIBUTE9" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="BOOKED_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="CANCELLED_FLAG" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="CONTEXT" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="CONVERSION_RATE" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="CONVERSION_RATE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="CONVERSION_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_PREFERENCE_SET_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="CREATED_BY" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="CREATION_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="CUST_PO_NUMBER" type="cdt:string50" minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_ORG_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DEMAND_CLASS_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="EARLIEST_SCHEDULE_LIMIT" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="EXPIRATION_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="FOB_POINT_CODE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="FREIGHT_CARRIER_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="FREIGHT_TERMS_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE1" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE10" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE11" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE12" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE13" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE14" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE15" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE16" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE17" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE18" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE19" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE2" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE20" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE3" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE4" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE5" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE6" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE7" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE8" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE9" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="GLOBAL_ATTRIBUTE_CATEGORY" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="TP_CONTEXT" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE1" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE2" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE3" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE4" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE5" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE6" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE7" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE8" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE9" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE10" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE11" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE12" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE13" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE14" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="TP_ATTRIBUTE15" type="cdt:string240" minOccurs="0"/>
         <xsd:element name="HEADER_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_ORG_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICING_RULE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="LAST_UPDATED_BY" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="LAST_UPDATE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="LAST_UPDATE_LOGIN" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="LATEST_SCHEDULE_LIMIT" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="OPEN_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="ORDER_CATEGORY_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="ORDERED_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="ORDER_DATE_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="ORDER_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ORDER_SOURCE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ORDER_TYPE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="ORIG_SYS_DOCUMENT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="PARTIAL_SHIPMENTS_ALLOWED" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="PAYMENT_TERM_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="PRICE_LIST_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="PRICE_REQUEST_CODE" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="PRICING_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="PROGRAM_APPLICATION_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="PROGRAM_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="PROGRAM_UPDATE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="REQUEST_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="REQUEST_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="RETURN_REASON_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SALESREP_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SALES_CHANNEL_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIPMENT_PRIORITY_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIPPING_METHOD_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIP_FROM_ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIP_TOLERANCE_ABOVE" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TOLERANCE_BELOW" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SOLD_FROM_ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SOLD_TO_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_ORG_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SOLD_TO_PHONE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SOURCE_DOCUMENT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOURCE_DOCUMENT_TYPE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="TAX_EXEMPT_FLAG" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="TAX_EXEMPT_NUMBER" type="cdt:string80"
                      minOccurs="0"/>
         <xsd:element name="TAX_EXEMPT_REASON_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="TAX_POINT_CODE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="TRANSACTIONAL_CURR_CODE" type="cdt:string15"
                      minOccurs="0"/>
         <xsd:element name="VERSION_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="RETURN_STATUS" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="DB_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="OPERATION" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="FIRST_ACK_CODE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="FIRST_ACK_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="LAST_ACK_CODE" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="LAST_ACK_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="CHANGE_REASON" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="CHANGE_COMMENTS" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="CHANGE_SEQUENCE" type="cdt:string50" minOccurs="0"/>
         <xsd:element name="CHANGE_REQUEST_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="READY_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="STATUS_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="FORCE_APPLY_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="DROP_SHIP_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="CUSTOMER_PAYMENT_TERM_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="PAYMENT_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="PAYMENT_AMOUNT" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="CHECK_NUMBER" type="cdt:string50" minOccurs="0"/>
         <xsd:element name="CREDIT_CARD_CODE" type="cdt:string80"
                      minOccurs="0"/>
         <xsd:element name="CREDIT_CARD_HOLDER_NAME" type="cdt:string80"
                      minOccurs="0"/>
         <xsd:element name="CREDIT_CARD_NUMBER" type="cdt:string80"
                      minOccurs="0"/>
         <xsd:element name="CREDIT_CARD_EXPIRATION_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="CREDIT_CARD_APPROVAL_CODE" type="cdt:string80"
                      minOccurs="0"/>
         <xsd:element name="CREDIT_CARD_APPROVAL_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="SHIPPING_INSTRUCTIONS" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="PACKING_INSTRUCTIONS" type="cdt:string2000"
                      minOccurs="0"/>
         <xsd:element name="FLOW_STATUS_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="BOOKED_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="MARKETING_SOURCE_CODE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="UPGRADED_FLAG" type="cdt:string1" minOccurs="0"/>
         <xsd:element name="LOCK_CONTROL" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIP_TO_EDI_LOCATION_CODE" type="cdt:string40"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_EDI_LOCATION_CODE" type="cdt:string40"
                      minOccurs="0"/>
         <xsd:element name="BILL_TO_EDI_LOCATION_CODE" type="cdt:string40"
                      minOccurs="0"/>
         <xsd:element name="SHIP_FROM_EDI_LOCATION_CODE" type="cdt:string40"
                      minOccurs="0"/>
         <xsd:element name="SHIP_FROM_ADDRESS_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_ADDRESS_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ADDRESS_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_ADDRESS_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ADDRESS_CODE" type="cdt:string40"
                      minOccurs="0"/>
         <xsd:element name="XML_MESSAGE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIP_TO_CUSTOMER_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CUSTOMER_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CUSTOMER_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="ACCOUNTING_RULE_DURATION" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="XML_TRANSACTION_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="BLANKET_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="LINE_SET_NAME" type="cdt:string30" minOccurs="0"/>
         <xsd:element name="FULFILLMENT_SET_NAME" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="DEFAULT_FULFILLMENT_SET" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="QUOTE_DATE" type="cdt:DateTime" minOccurs="0"/>
         <xsd:element name="QUOTE_NUMBER" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SALES_DOCUMENT_NAME" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="TRANSACTION_PHASE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="USER_STATUS_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="DRAFT_SUBMITTED_FLAG" type="cdt:string1"
                      minOccurs="0"/>
         <xsd:element name="SOURCE_DOCUMENT_VERSION_NUMBER" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="MINISITE_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="IB_OWNER" type="cdt:string60" minOccurs="0"/>
         <xsd:element name="IB_INSTALLED_AT_LOCATION" type="cdt:string60"
                      minOccurs="0"/>
         <xsd:element name="IB_CURRENT_LOCATION" type="cdt:string60"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SUPPLIER_SIGNATURE" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="SUPPLIER_SIGNATURE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_SIGNATURE" type="cdt:string240"
                      minOccurs="0"/>
         <xsd:element name="CUSTOMER_SIGNATURE_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_PARTY_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SOLD_TO_ORG_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_PARTY_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="SHIP_TO_PARTY_SITE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_PARTY_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_PARTY_SITE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_PARTY_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_PARTY_SITE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_PARTY_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_PARTY_SITE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_PARTY_SITE_USE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_PARTY_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="END_CUSTOMER_ORG_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_CUSTOMER_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CUSTOMER_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CUSTOMER_PARTY_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ORG_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_ORG_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_ORG_CONTACT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CONTRACT_TEMPLATE_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="CONTRACT_SOURCE_DOC_TYPE_CODE" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="CONTRACT_SOURCE_DOCUMENT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_PARTY_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_PARTY_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_PARTY_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_PARTY_NUMBER" type="cdt:string30"
                      minOccurs="0"/>
         <xsd:element name="ORDER_FIRMED_DATE" type="cdt:DateTime"
                      minOccurs="0"/>
         <xsd:element name="INSTRUMENT_SECURITY_CODE" minOccurs="0"/>
         <xsd:element name="CC_INSTRUMENT_ID" type="cdt:Decimal" minOccurs="0"/>
         <xsd:element name="CC_INSTRUMENT_ASSIGNMENT_ID" type="cdt:Decimal"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_CUSTOMER_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_CUSTOMER_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CUSTOMER_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CUSTOMER_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_ADDRESS_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_ADDRESS_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_ADDRESS_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_ADDRESS_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SOLD_TO_CONTACT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="SHIP_TO_CONTACT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="INVOICE_TO_CONTACT_REF" type="cdt:string50"
                      minOccurs="0"/>
         <xsd:element name="DELIVER_TO_CONTACT_REF" type="cdt:string50"
                      minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ORDER_LINE_TBL_TYPE">
      <xsd:sequence>
         <xsd:element name="P_LINE_TBL_TYPE_ITEM" type="vct:ORDER_LINE_TYPE"
                      minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ORDER_HEADER_TYPE">
      <xsd:sequence>
         <xsd:element name="P_ORDER_HEADER_TYPE" type="vct:ORDER_HEADER_REC_TYPE"
                      minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   
</xsd:schema>
