code/trunk/041_SuccessFactor_SFDCtoLMS/SFDCLMSUsersDataLoadInterface/Schemas/SFDCLMSFlatFile.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://TargetNamespace.com/SFDCLMSFlatFile"
            xmlns:tns="http://TargetNamespace.com/SFDCLMSFlatFile"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            nxsd:encoding="US-ASCII" nxsd:stream="chars" nxsd:hasHeader="false"
            nxsd:headerLines="0" nxsd:version="NXSD">
 <xsd:element name="SFDCLMSFlatFileCollection">
  <xsd:complexType>
   <xsd:choice minOccurs="1" maxOccurs="unbounded"
               nxsd:choiceCondition="terminated" nxsd:terminatedBy="!##!">
    <xsd:element name="Header" minOccurs="1" maxOccurs="unbounded"
                 nxsd:style="array" nxsd:cellSeparatedBy="${eol}">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="NOTACTIVE" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="STUD_ID" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="FNAME" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="LNAME" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="JP_ID" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="JP_DESC" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="ROLE_ID" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="DMN_ID" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="DMN_DESC" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="ORG_ID" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="ORG_DESC" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="STATE" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="CNTRY" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="REGION_ID" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="EMAIL_ADDR" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="SUPER" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="ACCT_ID" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="PHON_NUM1" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="PHON_NUM1_DESC" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="|"
                    nxsd:quotedBy='"'/>
       <xsd:element name="PHON_NUM2" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="PHON_NUM2_DESC" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="|"
                    nxsd:quotedBy='"'/>
       <xsd:element name="PHON_NUM3" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="PHON_NUM3_DESC" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="|"
                    nxsd:quotedBy='"'/>
       <xsd:element name="SHOPPING_ACCT_TYPE" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="|"
                    nxsd:quotedBy='"'/>
       <xsd:element name="ENABLE_SHOPPING_ACCT" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="|"
                    nxsd:quotedBy='"'/>
       <xsd:element name="COL_NUM1_VAL" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="|"
                    nxsd:quotedBy='"'/>
       <xsd:element name="COL_NUM2_VAL" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="|"
                    nxsd:quotedBy='"'/>
       <xsd:element name="COL_NUM3_VAL" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="|"
                    nxsd:quotedBy='"'/>
       <xsd:element name="TIMEZONE" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="LOCALE" type="xsd:string" nxsd:style="terminated"
                    nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
       <xsd:element name="CAN_USE_ORG_ACT" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="|"
                    nxsd:quotedBy='"'/>
       <xsd:element name="CURRENCY_CODE" type="xsd:string"
                    nxsd:style="terminated" nxsd:terminatedBy="!##!"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:sequence>
     <xsd:element name="SFDCLMSFlatFileItems" minOccurs="1"
                  maxOccurs="unbounded" nxsd:style="array"
                  nxsd:cellSeparatedBy="${eol}">
      <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="NOTACTIVE" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="STUD_ID" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="FNAME" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="LNAME" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="JP_ID" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="JP_DESC" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="ROLE_ID" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="DMN_ID" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="DMN_DESC" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="ORG_ID" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="ORG_DESC" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="STATE" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="CNTRY" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="REGION_ID" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="EMAIL_ADDR" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="SUPER" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="ACCT_ID" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="PHON_NUM1" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="PHON_NUM1_DESC" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="PHON_NUM2" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="PHON_NUM2_DESC" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="PHON_NUM3" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="PHON_NUM3_DESC" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="SHOPPING_ACCT_TYPE" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="ENABLE_SHOPPING_ACCT" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="COL_NUM1_VAL" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="COL_NUM2_VAL" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="COL_NUM3_VAL" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="TIMEZONE" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="LOCALE" type="xsd:string" nxsd:style="terminated"
                     nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="CAN_USE_ORG_ACT" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
        <xsd:element name="CURRENCY_CODE" type="xsd:string"
                     nxsd:style="terminated" nxsd:terminatedBy="!##!"/>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
    </xsd:sequence>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
<!--NXSDWIZ:E:\SunPower_Profiles_20120127.txt:-->
<!--USE-HEADER:false:-->