code/trunk/036_TPO_Oracle_SFDC/CreateSalesOrderSFDCReq/WSDLs/GetNewOrder.wsdl

<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://soap.sforce.com/schemas/class/OrderIntegrationService"
             targetNamespace="http://soap.sforce.com/schemas/class/OrderIntegrationService">
  <types>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="http://soap.sforce.com/schemas/class/OrderIntegrationService">
      <xsd:element name="DebuggingInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="debugLog" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18"/>
          <xsd:pattern value="[a-zA-Z0-9]{18}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategory">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Workflow"/>
          <xsd:enumeration value="Validation"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Apex_code"/>
          <xsd:enumeration value="Apex_profiling"/>
          <xsd:enumeration value="Visualforce"/>
          <xsd:enumeration value="System"/>
          <xsd:enumeration value="All"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategoryLevel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Internal"/>
          <xsd:enumeration value="Finest"/>
          <xsd:enumeration value="Finer"/>
          <xsd:enumeration value="Fine"/>
          <xsd:enumeration value="Debug"/>
          <xsd:enumeration value="Info"/>
          <xsd:enumeration value="Warn"/>
          <xsd:enumeration value="Error"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="LogInfo">
        <xsd:sequence>
          <xsd:element name="category" type="tns:LogCategory"/>
          <xsd:element name="level" type="tns:LogCategoryLevel"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LogType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None"/>
          <xsd:enumeration value="Debugonly"/>
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Profiling"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Detail"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="DebuggingHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded"
                         type="tns:LogInfo"/>
            <xsd:element name="debugLevel" type="tns:LogType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CallOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="client" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Account">
        <xsd:sequence>
          <xsd:element name="accountHeader" minOccurs="0"
                       type="tns:AccountHeader" nillable="true"/>
          <xsd:element name="contactList" minOccurs="0" type="tns:ContactList"
                       nillable="true"/>
          <xsd:element name="SiteList" minOccurs="0" type="tns:SiteList"
                       nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountHeader">
        <xsd:sequence>
          <xsd:element name="AccountId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="AccountType" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="IsActive" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="LastModifiedDate" minOccurs="0" type="xsd:dateTime"
                       nillable="true"/>
          <xsd:element name="LastUpdatedBy" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="Name" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OracleAccountNumber" minOccurs="0"
                       type="xsd:string" nillable="true"/>
          <xsd:element name="TransactionStatus" minOccurs="0" type="xsd:string"
                       nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountList">
        <xsd:sequence>
          <xsd:element name="account" minOccurs="0" maxOccurs="unbounded"
                       type="tns:Account" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Contact">
        <xsd:sequence>
          <xsd:element name="AccountId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="ContactId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="EmailAddress" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="FaxNumber" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="FirstName" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="IsActive" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="IsPrimary" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="LastModifiedDate" minOccurs="0" type="xsd:dateTime"
                       nillable="true"/>
          <xsd:element name="LastName" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="LastUpdatedBy" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="MobileNumber" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OracleAccountNumber" minOccurs="0"
                       type="xsd:string" nillable="true"/>
          <xsd:element name="OracleContactId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="PhoneNumber" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="TransactionStatus" minOccurs="0" type="xsd:string"
                       nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ContactList">
        <xsd:sequence>
          <xsd:element name="contact" minOccurs="0" maxOccurs="unbounded"
                       type="tns:Contact" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Order">
        <xsd:sequence>
          <xsd:element name="accountList" minOccurs="0" type="tns:AccountList"
                       nillable="true"/>
          <xsd:element name="orderHeader" minOccurs="0" type="tns:OrderHeader"
                       nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OrderHeader">
        <xsd:sequence>
          <xsd:element name="allLineItem" minOccurs="0" maxOccurs="unbounded"
                       type="tns:OrderLineList" nillable="true"/>
          <xsd:element name="BillToContactID" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="BillToSiteID" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="ChannelType" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="CurrencyISOCode" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="DeliveryCharges" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="HomeownerId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="IsSmartPack" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="IsTaxibleOrder" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="LastModifiedDate" minOccurs="0" type="xsd:dateTime"
                       nillable="true"/>
          <xsd:element name="LastUpdatedBy" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="LeaseNumber" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OracleOrderNumber" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OracleVendorNumber" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OracleVendorSiteCode" minOccurs="0"
                       type="xsd:string" nillable="true"/>
          <xsd:element name="OrderId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OrderStatus" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="PartnerId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="PaymentType" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="PONumber" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="PrimaryPSREmail" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="RequestedDeliveryDate" minOccurs="0"
                       type="xsd:date" nillable="true"/>
          <xsd:element name="SalesType" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="ShippingMethod" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="ShipToContactID" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="ShipToSiteID" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="SmartPackInverterType" minOccurs="0"
                       type="xsd:string" nillable="true"/>
          <xsd:element name="SmartPackMountingType" minOccurs="0"
                       type="xsd:string" nillable="true"/>
          <xsd:element name="SpecialInstructions" minOccurs="0"
                       type="xsd:string" nillable="true"/>
          <xsd:element name="ThirdPartyOwnerId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="TransactionStatus" minOccurs="0" type="xsd:string"
                       nillable="true"/>
                       <xsd:element name="TaxIdentifier" minOccurs="0" type="xsd:string"
                       nillable="true"/>
         <xsd:element name="OkToShip" minOccurs="0" type="xsd:string"
                       nillable="true"/>
        <xsd:element name="NumberOfSystems" minOccurs="0" type="xsd:string"
                       nillable="true"/>
        <xsd:element name="RackingOptOut" minOccurs="0" type="xsd:string"
                       nillable="true"/>
        <xsd:element name="MonitoringOptOut" minOccurs="0" type="xsd:string"
                       nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OrderLineList">
        <xsd:sequence>
          <xsd:element name="ItemID" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="ItemType" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="LastModifiedDate" minOccurs="0" type="xsd:dateTime"
                       nillable="true"/>
          <xsd:element name="LastUpdatedBy" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OracleLineType" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OrderId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
        <xsd:element name="OracleVendorNumber" minOccurs="0" type="xsd:string" 
                     nillable="true"/>
        <xsd:element name="OracleVendorSiteCode" minOccurs="0" type="xsd:string" 
                     nillable="true"/>
          <xsd:element name="OrderLineId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OrderLineNumber" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="Quantity" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="RequestedDeliveryDate" minOccurs="0"
                       type="xsd:date" nillable="true"/>
          <xsd:element name="SmartPackItem" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="UnitPrice" minOccurs="0" type="xsd:string"
                       nillable="true"/>
        <xsd:element name="VendorRole" minOccurs="0" type="xsd:string" 
                     nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OrderList">
        <xsd:sequence>
          <xsd:element name="orders" minOccurs="0" maxOccurs="unbounded"
                       type="tns:Order" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Site">
        <xsd:sequence>
          <xsd:element name="Address1" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="Address2" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="Address3" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="City" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="Country" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="County" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="IsActive" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="IsPrimary" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="LastModifiedDate" minOccurs="0" type="xsd:dateTime"
                       nillable="true"/>
          <xsd:element name="LastUpdatedBy" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="OracleAccountNumber" minOccurs="0"
                       type="xsd:string" nillable="true"/>
          <xsd:element name="OracleSiteId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="Postalcode" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="Province" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="SiteAccountId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="SiteId" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="SiteType" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="State" minOccurs="0" type="xsd:string"
                       nillable="true"/>
          <xsd:element name="TransactionStatus" minOccurs="0" type="xsd:string"
                       nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SiteList">
        <xsd:sequence>
          <xsd:element name="Sites" minOccurs="0" maxOccurs="unbounded"
                       type="tns:Site" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetNewOrders">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetNewOrdersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:OrderList" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <!--  Message for the header parts  -->
  <message name="Header">
    <part name="AllowFieldTruncationHeader"
          element="tns:AllowFieldTruncationHeader"/>
    <part name="CallOptions" element="tns:CallOptions"/>
    <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
    <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
    <part name="SessionHeader" element="tns:SessionHeader"/>
  </message>
  <!--  Operation Messages  -->
  <message name="GetNewOrdersRequest">
    <part element="tns:GetNewOrders" name="parameters"/>
  </message>
  <message name="GetNewOrdersResponse">
    <part element="tns:GetNewOrdersResponse" name="parameters"/>
  </message>
  <portType name="OrderIntegrationServicePortType">
    <operation name="GetNewOrders">
      <input message="tns:GetNewOrdersRequest"/>
      <output message="tns:GetNewOrdersResponse"/>
    </operation>
  </portType>
  <binding name="OrderIntegrationServiceBinding"
           type="tns:OrderIntegrationServicePortType">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetNewOrders">
      <soap:operation soapAction=""/>
      <input>
        <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
        <soap:header use="literal" part="CallOptions" message="tns:Header"/>
        <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
        <soap:header use="literal" part="AllowFieldTruncationHeader"
                     message="tns:Header"/>
        <soap:body use="literal" parts="parameters"/>
      </input>
      <output>
        <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OrderIntegrationServiceService">
    <documentation/>
    <port binding="tns:OrderIntegrationServiceBinding"
          name="OrderIntegrationService">
      <soap:address location="https://cs1.salesforce.com/services/Soap/class/OrderIntegrationService"/>
    </port>
  </service>
</definitions>
