code/trunk/007_WarrantyRegistration_Oracle2SFDC/WarrantyORACLEToSFDCSvc/WSDL/Warranty_Orc_SFDC_Bpel.wsdl

<wsdl:definitions name="WarrantyORACLEToSFDCProv_BPEL" targetNamespace="http://www.sunpowercorp.com/WarrantyRegistrationOracleToSFDC/WarrantyORACLEToSFDCProv/WarrantyORACLEToSFDCProv_BPEL" xmlns:ns1="http://www.sunpowercorp.com/BOD/ProcessWarrantyOracleToSFDC/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://www.sunpowercorp.com/WarrantyRegistrationOracleToSFDC/WarrantyORACLEToSFDCProv/WarrantyORACLEToSFDCProv_BPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<plnk:partnerLinkType name="WarrantyORACLEToSFDCProv_BPEL">
		<plnk:role name="WarrantyORACLEToSFDCProv_BPELRequester">
			<plnk:portType name="client:WarrantyORACLEToSFDCProv_BPELCallback"/>
		</plnk:role>
		<plnk:role name="WarrantyORACLEToSFDCProv_BPELProvider">
			<plnk:portType name="client:WarrantyORACLEToSFDCProv_BPEL"/>
		</plnk:role>
	</plnk:partnerLinkType>
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.sunpowercorp.com/WarrantyRegistrationOracleToSFDC/WarrantyORACLEToSFDCProv/WarrantyORACLEToSFDCProv_BPEL" schemaLocation="../XSD/WarrantyORACLEToSFDCProv_BPEL.xsd"/>
		</schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.sunpowercorp.com/BOD/ProcessWarrantyOracleToSFDC/V1" schemaLocation="../XSD/CDM/BOD/Nouns/WarrantyOracleToSFDC/V1/ProcessWarrantyOracleToSFDC.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="WarrantyORACLEToSFDCProv_BPELRequestMessage">
		<wsdl:part name="payload" element="ns1:ProcessWarrantyOracleToSFDC"/>
	</wsdl:message>
	<wsdl:message name="WarrantyORACLEToSFDCProv_BPELResponseMessage">
		<wsdl:part name="payload" element="client:processResponse"/>
	</wsdl:message>
	<wsdl:portType name="WarrantyORACLEToSFDCProv_BPEL">
		<wsdl:operation name="process">
			<wsdl:input message="client:WarrantyORACLEToSFDCProv_BPELRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="WarrantyORACLEToSFDCProv_BPELCallback">
		<wsdl:operation name="processResponse">
			<wsdl:input message="client:WarrantyORACLEToSFDCProv_BPELResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WarrantyORACLEToSFDCProv_BPELBinding" type="client:WarrantyORACLEToSFDCProv_BPEL">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="process">
			<soap:operation style="document" soapAction="process"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WarrantyORACLEToSFDCProv_BPELCallbackBinding" type="client:WarrantyORACLEToSFDCProv_BPELCallback">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="processResponse">
			<soap:operation style="document" soapAction="processResponse"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.sunpowercorp.com/WarrantyRegistrationOracleToSFDC/WarrantyORACLEToSFDCProv/WarrantyORACLEToSFDCProv_BPEL"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="warrantyoracletosfdcprov_bpel_client_ep">
		<wsdl:port name="WarrantyORACLEToSFDCProv_BPEL_pt" binding="client:WarrantyORACLEToSFDCProv_BPELBinding">
			<soap:address location="http://dev-fusappdca02.sunpowercorp.com:7003/soa-infra/services/default/WarrantyORACLEToSFDCProv/warrantyoracletosfdcprov_bpel_client_ep"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>