code/tags/026_EDI/214n861/pollEDI214n861FilesToOracle/Schemas/861_FlatFile.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.sunpowercorp.com/861_FlatFile"
            targetNamespace="http://www.sunpowercorp.com/861_FlatFile"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="NXSD"
            nxsd:stream="chars"
            nxsd:hasHeader="false" 
            nxsd:headerLines="2"
            nxsd:encoding="US-ASCII">


  <xsd:element name="SalesOrderDetails">
    <xsd:complexType>
      <xsd:sequence minOccurs="1" maxOccurs="unbounded" >
        <xsd:element name="HEADER" nxsd:startsWith="&quot;H&quot;" >
          <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="H" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="TRANSACTION_SIGNAL" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="TRANSACTION_SET_CONTROL_NUMBER" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="EDISIGNAL_SENT_DATE" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="TRANSACTION_TRANSMIT_STATUS" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="TRANSACTION_DATE" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="TRANSACTION_TYPE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="RECEIPT_ROUTING" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="SOURCE_DOCUMENT_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="RECEIPT_NUMBER" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="SHIPMENT_NUMBER" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="SHIPMENT_LINE_NUMBER" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="OPERATING_UNIT" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="PO_IR_NUMBER" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="PO_IR_LINE_NUMBER" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="PO_IR_UNIT_PRICE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="ISO_DELIVERY_NUMBER" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="QUANTITY" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy="&quot;"/>
                            <xsd:element name="UNIT_OF_MEASURE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="ITEM_NUMBER" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy="&quot;"/>
                            <xsd:element name="ITEM_DESCRIPTION" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="UOM_CODE" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy="&quot;"/>
                            <xsd:element name="CURRENCY_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="INSPECTION_STATUS_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="SHIP_TO_ORGANIZATION_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="TO_SUBINVENTORY" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="FREIGHT_CARRIER_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="BILL_OF_LADING" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="PACKING_SLIP" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="SHIPPED_DATE" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="RECEIPT_DATE" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="WAYBILL_AIRBILL_NUM" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="VENDOR_NAME" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="VENDOR_NUMBER" type="xsd:int" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="VENDOR_ITEM_NUM" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                            <xsd:element name="COMMENTS" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy="&quot;"/>
                            <xsd:element name="REASON_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                                  <xsd:element name="REFERENCE_IDENTIFICATION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy="&quot;"/>                                 
                            <xsd:element name="REFERENCE_DESCRIPTION" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            <xsd:element name="LinesList" minOccurs="0" maxOccurs="unbounded" nxsd:startsWith="&quot;L&quot;">
          <xsd:complexType>
            <xsd:sequence>
            <xsd:element name="L" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
           <xsd:element name="ITEM" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="SERIAL_NUMBER" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="LPN_NUMBER" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="LOT_NUMBER" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="SUBINVENTORY" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="ATTRIBUTE1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="ATTRIBUTE2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="ATTRIBUTE3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="ATTRIBUTE4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;" />
              <xsd:element name="ATTRIBUTE5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
<!--NXSDWIZ:C:\SunPower\ProjDocs\EDICom\861\new\861_US_REQ_MNL0587260_20160225190007.csv:-->
<!--USE-HEADER:false:-->