code/trunk/052_SFactor_Services/Tress/Inbound/EmployeeFeedSF2Tress/Schemas/EmployeeFeed_TressDB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/EmployeeFeed_TressDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/EmployeeFeed_TressDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="HireCollection" type="HireCollection"/>
   <xs:complexType name="HireCollection">
      <xs:sequence>
         <xs:element name="Hire" type="Hire" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Hire">
      <xs:sequence>
         <xs:element name="names" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="lastname" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="secondlastname" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="birthdate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="gender" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ssno" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="maritalstatus" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="curp" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rfc" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="13"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="dailysalary" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="street" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="722"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="city" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="province" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="state" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="postalcode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="country" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="contactphonenumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="722"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addtext14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addnum1" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="adddate1" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="adddate2" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="adddate3" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="employer" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="position" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="stardate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="enddate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="hiredate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="jobcode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="level1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="level2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="level3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="level4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="level5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="level6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="level7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="level8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="level9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="employeeid" type="xs:int" nillable="true"/>
         <xs:element name="terminateddate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="terminatedreason" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="modifieddate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="userid" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="commited" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="jobdescription" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="supervisorname" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="salarydate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="levelsdate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="location" type="xs:string" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>