code/trunk/000_UtilityServices/FileUtilityService/FileUtility.wsdl

<wsdl:definitions
     name="FileUtility"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/SOAUtilityServices/FileUtilityService/FileUtility"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/SOAUtilityServices/FileUtilityService/FileUtility"
     xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
  <plt:partnerLinkType name="FileUtility_plt" >
    <plt:role name="FileUtility_role" >
      <plt:portType name="tns:FileUtility_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
            xmlns="http://www.w3.org/2001/XMLSchema" >
      <element name="opaqueElement" type="base64Binary" />
        <element name="empty"><complexType/></element>
    </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="opaque:empty"/>
    </wsdl:message>
    <wsdl:message name="FileUtility_msg">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:portType name="FileUtility_ptt">
        <wsdl:operation name="FileMove">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:FileUtility_msg"/>
        </wsdl:operation>
        
         <wsdl:operation name="FileDelete">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:FileUtility_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
