code/trunk/039_CreditLimit_Oracle2SFDCV2/SyncCreditLimitOracleReq/WSDLs/SyncCreditLimitOracleReq.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="SyncCreditLimitOracleReq"
     targetNamespace="http://xmlns.oracle.com/DealerPartnerCreditDetalis/SyncCreditLimitOracleReq/SyncCreditLimitOracleReq"
     xmlns:ns1="http://www.sunpowercorp.com/SunPowerDevelopment/DealerPartnerCreditINFO/EnqueSyncCreditLimit/initParams/xsd/v1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/DealerPartnerCreditDetalis/SyncCreditLimitOracleReq/SyncCreditLimitOracleReq"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="SyncCreditLimitOracleReq">
        <plnk:role name="SyncCreditLimitOracleReqProvider">
            <plnk:portType name="client:SyncCreditLimitOracleReq"/>
        </plnk:role>
        <plnk:role name="SyncCreditLimitOracleReqRequester">
            <plnk:portType name="client:SyncCreditLimitOracleReqCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/DealerPartnerCreditDetalis/SyncCreditLimitOracleReq/SyncCreditLimitOracleReq"
                 schemaLocation="../Schemas/SyncCreditLimitOracleReq.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.sunpowercorp.com/SunPowerDevelopment/DealerPartnerCreditINFO/EnqueSyncCreditLimit/initParams/xsd/v1"
                 schemaLocation="../Schemas/inputParams.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SyncCreditLimitOracleReqResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:message name="SyncCreditLimitOracleReqRequestMessage">
        <wsdl:part name="payload" element="client:process"/>
    </wsdl:message>
    <wsdl:portType name="SyncCreditLimitOracleReqCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:SyncCreditLimitOracleReqResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="SyncCreditLimitOracleReq">
        <wsdl:operation name="process">
            <wsdl:input message="client:SyncCreditLimitOracleReqRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
