code/trunk/055_Italy_PWC_EInvoice/OracleToPWCEInvoice/SOA/WSDLs/FileUtilityservice_bpel_client_ep.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="FileUtilityService_BPEL"
     targetNamespace="http://xmlns.oracle.com/SOAUtilityServices/FileUtilityService/FileUtilityService_BPEL"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/SOAUtilityServices/FileUtilityService/FileUtilityService_BPEL"
     xmlns:ns1="http://www.sunpowercorp.com/SunPowerDevelopment/FileUtilityService/v1/xsd"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://uat-fusappdca02.sunpowercorp.com:7003/soa-infra/services/default/FileUtilityService!1.0/FileUtilityService_BPEL.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="FileUtilityService_BPEL">
        <plnk:role name="FileUtilityService_BPELProvider">
            <plnk:portType name="client:FileUtilityService_BPEL"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.sunpowercorp.com/SunPowerDevelopment/FileUtilityService/v1/xsd"
                 schemaLocation="../Schemas/FileUtilityService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="FileUtilityService_BPELRequestMessage">
        <wsdl:part name="payload" element="ns1:FileUtilityReq"/>
    </wsdl:message>
    <wsdl:message name="FileUtilityService_BPELResponseMessage">
        <wsdl:part name="payload" element="ns1:FileUtilityResp"/>
    </wsdl:message>
    <wsdl:message name="FileDeleteService_BPELRequestMessage">
        <wsdl:part name="payload" element="ns1:FileDeleteReq"/>
    </wsdl:message>
    <wsdl:portType name="FileUtilityService_BPEL">
        <wsdl:operation name="Move">
            <wsdl:input message="client:FileUtilityService_BPELRequestMessage"/>
            <wsdl:output message="client:FileUtilityService_BPELResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Delete">
            <wsdl:input message="client:FileDeleteService_BPELRequestMessage"/>
            <wsdl:output message="client:FileUtilityService_BPELResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FileUtilityService_BPELBinding" type="client:FileUtilityService_BPEL">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Move">
            <soap:operation style="document" soapAction="Move"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Delete">
            <soap:operation style="document" soapAction="Delete"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FileUtilityservice_bpel_client_ep">
        <wsdl:port name="FileUtilityService_BPEL_pt" binding="client:FileUtilityService_BPELBinding">
            <soap:address location="http://uat-fusappdca02.sunpowercorp.com:7003/soa-infra/services/default/FileUtilityService/FileUtilityservice_bpel_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
