code/trunk/010_SunPowerStore_ONF2SFDC/SunPowerStoreSFDCProv/Schemas/SFDCIDs.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.sunpowercorp.com/SFDCIDs/xsd/v1"
            targetNamespace="http://www.sunpowercorp.com/SFDCIDs/xsd/v1"
            elementFormDefault="qualified">
  <xsd:element name="SFDCIDs" type="SFDCIDtype"/>    
    <xsd:complexType name="SFDCIDtype">
      <xsd:sequence>
        <xsd:element name="SFDCID" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
