code/trunk/000_UtilityServices/SFDCUtilityService/SFDCUtilityServiceMediator.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="SFDCUtilityServiceMediator"
                  targetNamespace="http://xmlns.oracle.com/SFDCUtilityService/SFDCUtilityServiceMediator"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:tns="http://xmlns.oracle.com/SFDCUtilityService/SFDCUtilityServiceMediator"
                  xmlns:client="http://xmlns.oracle.com/SFDCUtilityService/SFDCUtilityService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/SFDCUtilityService/SFDCUtilityService"
                    schemaLocation="Schemas/SFDCUtilityService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="SFDCUtilityServiceRequestMessage">
        <wsdl:part name="payload" element="client:update"/>
    </wsdl:message>
    <wsdl:message name="SFDCUtilityServiceResponseMessage">
        <wsdl:part name="payload" element="client:updateResponse"/>
    </wsdl:message>
     <wsdl:message name="SFDCUtilityServiceUpsertRequestMessage">
        <wsdl:part name="payload" element="client:upsert"/>
    </wsdl:message>
    <wsdl:message name="SFDCUtilityServiceUpsertResponseMessage">
        <wsdl:part name="payload" element="client:upsertResponse"/>
    </wsdl:message>
    <wsdl:portType name="SFDCUtilityService">
        <wsdl:operation name="update">
            <wsdl:input message="tns:SFDCUtilityServiceRequestMessage"/>
        </wsdl:operation>
          <wsdl:operation name="upsert">
            <wsdl:input message="tns:SFDCUtilityServiceUpsertRequestMessage"/>
        </wsdl:operation>
         <wsdl:operation name="create">
            <wsdl:input message="tns:SFDCUtilityServiceRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="SFDCUtilityServiceCallback">
        <wsdl:operation name="updateResponse">
            <wsdl:input message="tns:SFDCUtilityServiceResponseMessage"/>
        </wsdl:operation>
         <wsdl:operation name="upsertResponse">
            <wsdl:input message="tns:SFDCUtilityServiceUpsertResponseMessage"/>
        </wsdl:operation>
         <wsdl:operation name="createResponse">
            <wsdl:input message="tns:SFDCUtilityServiceResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
