code/trunk/053_TPS_Lease2Outbound_Oracle/Lease2OutboundSFDCProv/Schemas/ID.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.sunpowercorp.com/utilities/ID/xsd/v1"
            targetNamespace="http://www.sunpowercorp.com/utilities/ID/xsd/v1"
            elementFormDefault="qualified">
  <xsd:element name="IDNumbers" type="IDNumbersTypes"/>    
    <xsd:complexType name="IDNumbersTypes">
      <xsd:sequence>
        <xsd:element name="ID" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
