code/tags/017_OnlineOrdering_ItemOnly/OracleSFDCItemPRODSvc/WSDL/OracleSFDCItemBPEL.wsdl

<wsdl:definitions name="OracleSFDCItemPRODProv_BPEL" targetNamespace="http://www.sunpowercorp.com/OnlineOrderingItemOnlyOracleToSFDC/OracleSFDCItemPRODProv/OracleSFDCItemPRODProv_BPEL" xmlns:ns1="http://www.sunpowercorp.com/BOD/ProcessOracleSFDCItem/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://www.sunpowercorp.com/OnlineOrderingItemOnlyOracleToSFDC/OracleSFDCItemPRODProv/OracleSFDCItemPRODProv_BPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<plnk:partnerLinkType name="OracleSFDCItemPRODProv_BPEL">
		<plnk:role name="OracleSFDCItemPRODProv_BPELProvider">
			<plnk:portType name="client:OracleSFDCItemPRODProv_BPEL"/>
		</plnk:role>
		<plnk:role name="OracleSFDCItemPRODProv_BPELRequester">
			<plnk:portType name="client:OracleSFDCItemPRODProv_BPELCallback"/>
		</plnk:role>
	</plnk:partnerLinkType>
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.sunpowercorp.com/OnlineOrderingItemOnlyOracleToSFDC/OracleSFDCItemPRODProv/OracleSFDCItemPRODProv_BPEL" schemaLocation="../XSD/OracleSFDCItemPRODProv_BPEL.xsd"/>
		</schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.sunpowercorp.com/BOD/ProcessOracleSFDCItem/V1" schemaLocation="../XSD/CDM/BOD/Nouns/OracleSFDCItem/V1/ProcessOracleSFDCItem.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OracleSFDCItemPRODProv_BPELResponseMessage">
		<wsdl:part name="payload" element="client:processResponse"/>
	</wsdl:message>
	<wsdl:message name="OracleSFDCItemPRODProv_BPELRequestMessage">
		<wsdl:part name="payload" element="ns1:ProcessOracleSFDCItem"/>
	</wsdl:message>
	<wsdl:portType name="OracleSFDCItemPRODProv_BPELCallback">
		<wsdl:operation name="processResponse">
			<wsdl:input message="client:OracleSFDCItemPRODProv_BPELResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="OracleSFDCItemPRODProv_BPEL">
		<wsdl:operation name="process">
			<wsdl:input message="client:OracleSFDCItemPRODProv_BPELRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OracleSFDCItemPRODProv_BPELCallbackBinding" type="client:OracleSFDCItemPRODProv_BPELCallback">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="processResponse">
			<soap:operation style="document" soapAction="processResponse"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.sunpowercorp.com/OnlineOrderingItemOnlyOracleToSFDC/OracleSFDCItemPRODProv/OracleSFDCItemPRODProv_BPEL"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="OracleSFDCItemPRODProv_BPELBinding" type="client:OracleSFDCItemPRODProv_BPEL">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="process">
			<soap:operation style="document" soapAction="process"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="oraclesfdcitemprodprov_bpel_client_ep">
		<wsdl:port name="OracleSFDCItemPRODProv_BPEL_pt" binding="client:OracleSFDCItemPRODProv_BPELBinding">
			<soap:address location="http://dev-fusappdca02.sunpowercorp.com:7003/soa-infra/services/ebiz/OracleSFDCItemPRODProv/oraclesfdcitemprodprov_bpel_client_ep"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>