code/trunk/101_EnterpriseSignal/ProjectsEnterpriseSignalSvc/wsdl/ProjectsEnterpriseSignal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://webservice.es.com"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax21="http://dto.es.com/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://webservice.es.com">
    <wsdl:documentation>Please Type your service description here</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://dto.es.com/xsd"
                   attributeFormDefault="qualified"
                   elementFormDefault="unqualified"
                   targetNamespace="http://webservice.es.com">
            <xs:import namespace="http://dto.es.com/xsd"/>
            <xs:element name="postData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entityName"
                                    nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName"
                                    nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0"
                                    name="filterParams" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="postDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax21:ResponseDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entityName"
                                    nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName"
                                    nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0"
                                    name="filterParams" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0"
                                    name="return" nillable="true"
                                    type="ax21:ResponseDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username"
                                    nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password"
                                    nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax21:ResponseDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified"
                   elementFormDefault="unqualified"
                   targetNamespace="http://dto.es.com/xsd">
            <xs:complexType name="ResponseDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="recordData" nillable="true"
                                type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="authenticateRequest">
        <wsdl:part name="parameters" element="ns:authenticate"/>
    </wsdl:message>
    <wsdl:message name="authenticateResponse">
        <wsdl:part name="parameters" element="ns:authenticateResponse"/>
    </wsdl:message>
    <wsdl:message name="getDataRequest">
        <wsdl:part name="parameters" element="ns:getData"/>
    </wsdl:message>
    <wsdl:message name="getDataResponse">
        <wsdl:part name="parameters" element="ns:getDataResponse"/>
    </wsdl:message>
    <wsdl:message name="postDataRequest">
        <wsdl:part name="parameters" element="ns:postData"/>
    </wsdl:message>
    <wsdl:message name="postDataResponse">
        <wsdl:part name="parameters" element="ns:postDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="GenericWSPortType">
        <wsdl:operation name="authenticate">
            <wsdl:input message="ns:authenticateRequest"
                        wsaw:Action="urn:authenticate"/>
            <wsdl:output message="ns:authenticateResponse"
                         wsaw:Action="urn:authenticateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getData">
            <wsdl:input message="ns:getDataRequest" wsaw:Action="urn:getData"/>
            <wsdl:output message="ns:getDataResponse"
                         wsaw:Action="urn:getDataResponse"/>
        </wsdl:operation>
        <wsdl:operation name="postData">
            <wsdl:input message="ns:postDataRequest"
                        wsaw:Action="urn:postData"/>
            <wsdl:output message="ns:postDataResponse"
                         wsaw:Action="urn:postDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GenericWSSoap11Binding" type="ns:GenericWSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document"/>
        <wsdl:operation name="authenticate">
            <soap:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getData">
            <soap:operation soapAction="urn:getData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postData">
            <soap:operation soapAction="urn:postData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GenericWSSoap12Binding" type="ns:GenericWSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
                        style="document"/>
        <wsdl:operation name="authenticate">
            <soap12:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getData">
            <soap12:operation soapAction="urn:getData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postData">
            <soap12:operation soapAction="urn:postData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GenericWSHttpBinding" type="ns:GenericWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="authenticate">
            <http:operation location="authenticate"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getData">
            <http:operation location="getData"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postData">
            <http:operation location="postData"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GenericWS">
        <wsdl:port name="GenericWSHttpSoap11Endpoint"
                   binding="ns:GenericWSSoap11Binding">
            <soap:address location="http://10.0.100.142:8080/ESWS/services/GenericWS.GenericWSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GenericWSHttpsSoap11Endpoint"
                   binding="ns:GenericWSSoap11Binding">
            <soap:address location="https://10.0.100.142:8443/ESWS/services/GenericWS.GenericWSHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GenericWSHttpsSoap12Endpoint"
                   binding="ns:GenericWSSoap12Binding">
            <soap12:address location="https://10.0.100.142:8443/ESWS/services/GenericWS.GenericWSHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GenericWSHttpSoap12Endpoint"
                   binding="ns:GenericWSSoap12Binding">
            <soap12:address location="http://10.0.100.142:8080/ESWS/services/GenericWS.GenericWSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GenericWSHttpEndpoint"
                   binding="ns:GenericWSHttpBinding">
            <http:address location="http://10.0.100.142:8080/ESWS/services/GenericWS.GenericWSHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="GenericWSHttpsEndpoint"
                   binding="ns:GenericWSHttpBinding">
            <http:address location="https://10.0.100.142:8443/ESWS/services/GenericWS.GenericWSHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>