code/trunk/026_EDI/846/GetEDI846ProcessReq/Schemas/EdiSchemas.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.sunpowercorp.com/EDICom/GetEDI846Process/xsd/v1"
            targetNamespace="http://www.sunpowercorp.com/EDICom/GetEDI846Process/xsd/v1"
            elementFormDefault="qualified">
  <xsd:element name="SchemaList" type="SchemaListT"/>
    
    <xsd:complexType name="SchemaListT">
      <xsd:sequence>
        <xsd:element name="Schema" type="xsd:string" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
