code/trunk/053_TPS_Lease2Outbound_Oracle/Lease2OutboundSFDCProv/WSDLs/Lease2OutboundSFDCProv_BPEL.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="Lease2OutboundSFDCProv_BPEL"
     targetNamespace="http://www.sunpowercorp.com/SunPowerApp/Lease2OutboundSFDCProv/Lease2OutboundSFDCProv_BPEL"
     xmlns:ns2="http://schemas.xmlsoap.org/ws/2003/03/addressing"
     xmlns:ns1="http://www.sunpowercorp.com/BOD/ProcessLease2Outbound/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns4="http://www.sunpowercorp.com/SunPowerApp/SFDCId"
     xmlns:ns3="urn:partner.soap.sforce.com"
     xmlns:client="http://www.sunpowercorp.com/SunPowerApp/Lease2OutboundSFDCProv/Lease2OutboundSFDCProv_BPEL"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns5="http://schemas.oracle.com/bpel/extension"
     xmlns:ns6="http://www.sunpowercorp.com/utilities/ID/xsd/v1"
    >
    <plnk:partnerLinkType name="Lease2OutboundSFDCProv_BPEL">
        <plnk:role name="Lease2OutboundSFDCProv_BPELProvider">
            <plnk:portType name="client:Lease2OutboundSFDCProv_BPEL"/>
        </plnk:role>
        <plnk:role name="Lease2OutboundSFDCProv_BPELRequester">
            <plnk:portType name="client:Lease2OutboundSFDCProv_BPELCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <wsdl:import namespace="urn:partner.soap.sforce.com" location="partner.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.sunpowercorp.com/SunPowerApp/Lease2OutboundSFDCProv/Lease2OutboundSFDCProv_BPEL"
                 schemaLocation="../Schemas/Lease2OutboundSFDCProv_BPEL.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.sunpowercorp.com/BOD/ProcessLease2Outbound/V1"
                    schemaLocation="../Schemas/CDM/BOD/Nouns/Lease2Outbound/V1/ProcessLease2Outbound.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing"
                        schemaLocation="../Schemas/wsaaddress.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.sunpowercorp.com/SunPowerApp/SFDCId"
                        schemaLocation="../Schemas/SFDCId.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.sunpowercorp.com/utilities/ID/xsd/v1" schemaLocation="../Schemas/ID.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Lease2OutboundSFDCProv_BPELResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:message name="Lease2OutboundSFDCProv_BPELRequestMessage">
        <wsdl:part name="payload" element="ns1:ProcessLease2Outbound"/>
    </wsdl:message>
    <wsdl:portType name="Lease2OutboundSFDCProv_BPELCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:Lease2OutboundSFDCProv_BPELResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Lease2OutboundSFDCProv_BPEL">
        <wsdl:operation name="process">
            <wsdl:input message="client:Lease2OutboundSFDCProv_BPELRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
