code/trunk/000_UtilityServices/CommonBankInterfaces/pollBankFiles.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="pollBankFiles"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/SunPowerApp/Common/pollBankFiles"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:ns1="http://schemas.oracle.com/bpel/extension"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/SunPowerApp/Common/pollBankFiles"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
     xmlns:pc="http://xmlns.oracle.com/pcbpel/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
    <plt:partnerLinkType name="Read_plt">
        <plt:role name="Read_role">
            <plt:portType name="tns:Read_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <wsdl:types>
        <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="opaqueElement" type="base64Binary"/>
            <element name="FaultElement" >
              <complexType>
                 <sequence>
                    <element name="code" type="string"/>
                    <element name="summary" type="string"/>
                   <element name="detail" type="string"/>
                 </sequence>
              </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="Read_msg">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:message name="Fault_msg">
        <wsdl:part name="fault" element="opaque:FaultElement"/>
    </wsdl:message>    
    <wsdl:portType name="Read_ptt">
        <wsdl:operation name="Read">
            <wsdl:input message="tns:Read_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
