code/trunk/007_WarrantyRegistration_Oracle2SFDC/WarrantyORACLEToSFDCReq/Schemas/UpdateErrorDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/UpdateErrorDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/UpdateErrorDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="UpdateErrorDBInput" type="UpdateErrorDBInput"/>
   <xs:complexType name="UpdateErrorDBInput">
      <xs:sequence>
         <xs:element name="RECORD_STATUS" type="xs:string" nillable="true"/>
         <xs:element name="Customer_Number" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>